{% extends '../layout.html' %}
{% block page-title %}Producto{% endblock %}
{% load static %}
{% block content %}
<body>
    <nav class="navbar navbar-custom">
        <div class="container-fluid" style="background-color: #0750a4;">
            <a class="navbar-brand" href="#">
            <img src="{% static 'images/logo.png' %}"  alt="" width="208px" height="44px" class="d-inline-block align-text-top">
            </a>
        </div>
    </nav>
    <br>
    <a href="{% url 'index' %}" class="back-button float-end"><i class="fa-solid fa-angle-left"></i> <b>Regresar</b></a>
    <br><br>
    <div class="container-fluid">
        <div class="row align-items-start">
            <div class="col">
                <div class="d-flex flex-sm-row flex-column">
                    {% if images|length == 1 %}
                        <div><img
                            src="{{images.0}}"
                            class="mb-4"
                            width="406px" height="503px"
                        /></div>
                    {% else %}
                        {% for image in images %}
                            {% if forloop.first %}
                                <div class="p-1"><img
                                    src="{{image}}"
                                    class="rounded mb-3"
                                    width="406px" height="503px"
                                    id="img{{ forloop.counter }}"/></div>
                                <div class="p-2">
                            {% else %}
                                <img
                                src="{{image}}"
                                class="rounded border mb-3"
                                width="128px" height="159px"
                                id="img{{ forloop.counter }}"/>
                                
                            {% endif %}
                            
                        {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col">
                <span class="product-title"><b>{{product.0.Name}}</b></span>
                <span class="product-desc">{{product.0.description |safe}}</span>
                <span class="product-price"><b>$ {{product.0.Regular_price}}</b></span>
                {% if colors != '' %}
                    <br><br>
                    {% for color in colors %}
                        <button class="btn btn-dark btn-lg" {{color |safe}} onclick="changeImg('red')"></button>
                    {% endfor %}
                {% endif %}
            </div>
          </div>
        </div>
</body>
<script>

    //Function to change the image depending on the clicked color
    function changeImg(color){
        //Get the current img source
        original_src = document.getElementById("img1").src

        //Get the abosulute path but no the file
        file_url = original_src.split('/').slice(0, -1).join('/')

        //Get only the file
        file_sku = original_src.split('/').at(-1).split('-')[0];

        //Change the file for the new color
        file_extension = original_src.split('/').at(-1).split('.').at(-1);

        //Build the new src
        new_src=`${file_url}/${file_sku}-${color}_main.${file_extension}`

        //Set the new source for the main image
        document.getElementById("img1").src=new_src;
    }

</script>
{% endblock %}